#canvas {
	display: block;
	width: 80%;
	height: 50%;
	background-image: url("assets/vb-court.png");
	background-size: 100% 100%;
}

#court {
	display: block;
	position: absolute;
	margin: 25% 0 0 25%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: show; /* show at start */
  width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	padding: 2% 0 0 4%;
	/* margin: 1% 0 0 1%; */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
