/*#canvas {
	display: block;
	width: 90%;
	background-image: url("assets/vb-court.png");
	background-size: 95%;
	background-color: rgb(0, 114, 191);
	margin: auto;
	background-repeat: no-repeat;
	background-position: center center;
}*/

/* #action-bar {
	width: 70%;
	margin: auto;
	border: 0.10em solid black;
} */

/*#konva-container {
	background-color: green;
}*/

button:focus {
	outline:0;
}

#action-form {
	position: absolute;
	z-index: 1;
	padding: 0.50em;
	border: 0.10em solid black;
	background-color: white;
}

#new-game-div {
	width: 95%;
	margin: auto;
}

#new-player-div {
	width: 98%;
	margin: auto;
}
